html,
body,
.container-fluid,
.quan {
    height: 100%;
}

.container-fluid .left {
    background-color: #1c2a36;
}

.logo img {
    width: 100%;
}
.menu .menu-l .menu-i{
	background-color: #1c2a36;
	cursor: pointer;
	border: none;
	line-height: 30px;
	padding-top:10px;
	padding-bottom: 10px;  
}
.menu .menu-l .menu-i i,
.menu .menu-l .menu-i a{
	text-decoration: none;
	color:#cdced6;
	font-size: 20px;
}
.menu .menu-l .menu-i .tc,
.menu .menu-l .menu-i a.tcg{
	color: #fff;
}

.menu .menu-l .menu-i i.fa{
	width: 30px;
}
.menu .menu-l .menu-i i:last-child{
	float: right;
	padding-top: 7px;
}
.right .top,
.right .content,
.right .bottom{
	margin:0 -15px;
}
.right .top{
	height: 60px;
	box-shadow: 0 5px 10px #8A8787E3;
	position: relative;

}
.right .content{
	background-color: #f1f1f1;
	height: 91%;
	padding: 30px ;
}
.right .top span{
	line-height: 56px;
	font-size: 18px;
	padding-left: 10px;
}
.content .choose{
	margin:0 0;
}
.content .choose div{
	line-height: 50px;
	background-color: #fff;
	text-align: center;
	margin-right: 2px;
	margin-bottom: 2px;
	cursor: pointer;
	max-width: 150px;
}
.content .choose div.ch-1{
	border-top: 2px solid #1E90FF;
	margin-bottom: 0px;
}
.content .con{
	height: 533px;
	background-color: #fff;
	position: relative;
	
}
.content .con .tacon{
	height: 360px;
	overflow-y: auto;

}
.content .con .tafu{
	margin: 0 0;
	padding:1em 2em 0;
	height: 3em;
}
.content .con .tafu > button{
	height: 2.3em;
	margin-right: 20px;
}
.content .con .tafu .tafu-2 a{
	padding: 0.35rem 0.75rem;
}
.content .tacon #table thead.shou{
	position: absolute;
	top:65px;
	width: 100%;
}
.content .tacon #table thead.shou .row{
	margin:0;
	
}
.content  #table thead.shou th{
	padding-right: 0;
} 
.content .tacon #table tbody{
	overflow:scroll;
	position: relative;
}
.con .tacon #table a{
	cursor: pointer;
	color: #6495ED;

}
.con .tacon #table a.cb{
	color: #0000FF;
}
.con .con-1 button{
	height: 2.5em;
}
.content .con #addClear,
.content .con  #fastAdd{
    position: absolute;
    top: -43px;
    right:120px;
}
.content .con  #fastAdd{
	right:20px;
}
.con  #inputState{
    -moz-appearance: none;/*火狐清除默认下拉样式*/
    background:url('../images/select2.png') no-repeat right center;
}